/* author: Isaac Reiman: 2-2-26, tested: 2-2-26*/

/* style for the body*/
body {
    width: 725px ;   
    
background-image: linear-gradient(
45deg, gray 0%, white 50%, silver 100%); 
    margin: 10px auto;
}

main {
    width: 49%;
    height: 500px;
    background-color: #ffffff; /* The color is white*/
    float: left;
    
}

aside { 
    width: 49%;
    height: 500px;
    background-color: #ffffff; /* The color is white*/
    float: right;
    
}

h1, h2, h3, h4 { 
    padding: 10px;
}
p {
    padding-left:  5px;
    padding-right: 5px;
}

footer {
    clear: both;
}

ul {
    padding-left: 10px;
}

li {
    padding-left: 10px;
}

.bluetouch img {
    border: 2px solid #0097fc;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    position: relative;
    right: 10px;
    top: 10px;
}

img {
    position: static;
}

