/* author: Isaac Reiman: 2-2-26, tested: 2-2-26*/

/* style for the body*/
@media only screen and (max-width: 2024px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 959px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 767px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: .875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }
}
@media only screen and (max-width: 479px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }   
}

body {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle at 20% 20%, #1d4ed8, #0f172a 45%);
    margin: 2px auto;
    height: 1000px;
}

header {
    width: 97.917%;              /* 940/960 * 100 */
    padding: 10px 1.0417%;
    clear: both;
    font-size: 2em;
}

main {
    width: 49%;
    height: 500px;
    background: radial-gradient(circle at 20% 20%, #1d4ed8, #0f172a 45%); /* The color is white*/
    float: left;
    
}

aside { 
    width: 49%;
    height: 500px;
    background: radial-gradient(circle at 20% 20%, #1d4ed8, #0f172a 45%); /* The color is white*/
    float: right;
    
}

h1, h2, h3, h4 { 
    padding: 10px;
    color: white
}
p {
    
    padding-left:  5px;
    padding-right: 5px;
    color: white
}

footer {
    clear: both;
    color: white
}

ul {
    padding-left: 10px;
    color: white
}

li {
    padding-left: 10px;
    color: white
}

blockquote {
    color: white
}

#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    font-size: 1.5em;
    text-align: left;
    color: white
}

#nav_menu ul li {
    display: inline;
    padding: .5 1em;
     color: white
}

#nav_menu ul li a {
    font-weight: bold;
    color: black;
    color: white
}

#nav_menu ul li a.current {
    text-decoration: none; 
}

img {
    position: static;
}

.rover {
    width: 100%;
    min-width: 200px;
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    height: 350px;
}

.rover img {
    width: 100%;
    min-width: 200px;
    position: absolute;
    overflow: hidden;
    border: 2px solid #000FFF;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    margin: 0;
    max-width: 300px;
    height: 350px;

}

.rover .rlover {
    z-index: 9999;
    transition: opacity 2s linear;
    cursor: pointer;
}

.rover:hover > .rlover {
    opacity: 0.001;
}