/* author: Isaac Reiman: 2-2-26, tested: 2-2-26*/

/* style for the body*/
@media only screen and (max-width: 2024px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 959px) {
    #mobile_menu {display: none;}
}
@media only screen and (max-width: 767px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: .875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }
}
@media only screen and (max-width: 479px) {
    #mobile_menu {display: block;}
    #nav_menu { display: none }
    header h2 { font-size: 1.375em; }
    header h3 { font-size: .8125em; }
    p { font-size: 875em; }
    article h1, main h2, aside h2
    { font-size: 1em; }
    aside li { font-size: .875em; }   
}

body {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle at 5% 10%, rgb(1, 1, 121), black 45%);
    margin: auto;
    height: 2500px;
}

body#RDR2 {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle at 5% 10%, rgb(190, 0, 0), black 45%);
    margin: auto;
    height: 2500px;
}

body#Ghosts {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle at 5% 10%, White, black 45%);
    margin: auto;
    height: 2500px;
}

body#Doom {
    font-size: 1em;      
    width: 90%;
    max-width: 1024px;
    font-family: Verdana, sans-serif;
    background: radial-gradient(circle at 5% 10%,  #4e3b35, black 45%);
    margin: auto;
    height: 2500px;
}

header {
    width: 97.712%;           
    clear: both;
    font-size: 2em;
}

main {
    width: 49%;
    height: 500px;
    float: left;
    
}

aside { 
    width: 49%;
    height: 500px;
    float: right;
    
}

h1, h2, h3, h4 { 
    padding: 10px;
    color: white
}
p {
    
    padding-left:  5px;
    padding-right: 5px;
    color: white
}

figure {
    text-align: center;  
    margin: 0;           
}

footer {
    clear: both;
    color: white
}

#weblink ul {
    display: flex;
    flex-direction: column;
    flex: 100px;
    padding-left: 10px;
    color: white
}

li {
    padding-left: 10px;
    color: white
}

blockquote {
    color: white
}

#nav_menu ul {  
    display: flex;
    background-color: black;
    list-style-type: none;
    padding: 1em 1em;
    font-size: 1.4em;
    text-align: left;
    color: white;
    border: 2px solid white;
    border-radius: 1000px;
}

#nav_menu ul li {
    display: inline;
    padding: .5 1em;
    color: white
}

#nav_menu ul li a {
    font-weight: bold;
    color: black;
    color: gray
}

#nav_menu ul li a.current {
    text-decoration: none; 
}

img {
    position: static;
}

table     {
    margin-bottom: 20px;
    background-color: none;
    min-height: 600px;
    border: 5px solid #334155;
    overflow: hidden;

}
caption {
    font-family: Verdana, sans-serif;
    text-align: center;
	font-size: 160%;
	font-weight: bold;
	margin: 0 0 .5em 0;
    color: white;
}
thead {
	font-weight: bold;
    font-family: Verdana, sans-serif;
	color: white;
    background-color: none; 
}

tfoot th{
	font-weight: bold;
    font-family: Verdana, sans-serif;
	color: white;
    background-color: none;
}

thead th {
    padding-bottom: .5em;
	color: white;
}
tbody {
    margin: 1px;
    font-family: Verdana, sans-serif;

}
tbody th, tbody td {
    font-family: Verdana, sans-serif;
    padding: .2em 2em .2em 0;
    color: white;
}
th.right, td.right {
    text-align: right;
    padding-right: 10px;
    font-family: Verdana, sans-serif;
    color: white;

}
th.left {
	text-align: left;
    font-family: Verdana, sans-serif;
    color: white;
}
th {
	vertical-align: top;
}

		label {
			color: white;
			float: left;
			width: 8em;
			font-weight: bold;
			text-align: left;
		}
		input {
			width: 15em;
			margin: 0 0 .5em 1em;
		}
		#button, #reset {
			width: 7em;
			background-color: silver;
			box-shadow: 2px 2px 0 black; }
		#button {
			margin-left: 9em;
		}

.imageflex { 
    display: flex; 
}

.imageflexcontent { 
    margin-left: 5px; 
    margin-top: 0; 
    padding: 10px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 2em;
    
}

.imageflexcontentb{ 
    margin-left: 5px; 
    margin-bottom: 0; 
    padding: 10px;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    
}

audio {
    position: relative;
    left: 725px
}

.rollover {
    position: relative;
    display: inline-block;
    width: 750px;
    height: 200px;
}

.rollover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.img-hover {
  opacity: 0;
}

.rollover:hover .img-default {
  opacity: 0;
}

.rollover:hover .img-hover {
  opacity: 1;
}